ScheduleApi/.vs
ScheduleApi/ScheduleApi.Infrastructure/bin
ScheduleApi/ScheduleApi.Infrastructure/obj
ScheduleApi/ScheduleApi/bin
ScheduleApi/ScheduleApi/obj
ScheduleApi/SheduleTest/bin
ScheduleApi/SheduleTest/obj
